//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Login Main Container
.login {
  width: 27em;
  height: 50em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;

      &:hover {
        right: -45%;
      }
    }

    &.left {
      right: 40%;
      align-items: flex-start;

      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #2386c8;
  }

  &:focus {
    outline: none;
  }
}

body {
  /*background: url("background1.png") no-repeat fixed;*/
  background-size: cover;
  height: calc(100vh - 80px);
  background-color: rgb(10, 38, 59);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.FacultyHome .container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65%;
}

.FacultyHome .item {
  border: 2px solid rgb(98, 78, 78);
  background: rgba(36, 40, 46, 0.55);
  margin: 3px;
  padding: 24px;
  height: 500%;
  text-align: center;
}

.StudentHome .container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65%;
}

.StudentHome .item {
  border: 2px solid rgb(98, 78, 78);
  background: rgba(36, 40, 46, 0.55);
  margin: 3px;
  padding: 24px;
  height: 500%;
  text-align: center;
}

.Home h4 {
  font-size: 2vw;
  color: #0079e3;
}

.Home .item .labList select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}

.Home .item .labList:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.Home .item .labList select option {
  padding: 30px;
}

.CreateLab {
  margin-top: 4%;
  margin-left: 2%;
  text-align: center;
  color: #ffffff;
  background-color: #6f6e6e;
  font-size: 18px;
  width: 150px;
  padding: 6px 22px;
  border-radius: 25px;
}

.Home .createLabMessage {
  font-size: 1.5vw;
  color: #dbdee1;
}

.Home .printDetailsDiv {
  margin: 50px;
  text-align: left;
}

.Home .printDetails {
  display: inline-block;
  font-size: 25px;
  padding: 1px;
  margin: 5px;
}

.Home h5 {
  color: #a38282;
}

.Home p {
  color: white;
}

.FacultyHome .StudentDetails label {
  text-align: left;
  font-size: 1.5vw;
  color: antiquewhite;
}

.FacultyHome .StudentDetails input {
  background-color: #394d60;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}

.StudentTerminal textarea {
  background-color: #394d60;
  color: white;
  padding: 12px;
  width: 50%;
  height: 90%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}


nav {
  height: 80px;
  width: 100%;
}

label.logo {
  color: #062238;
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #062238;
  font-size: 26px;
  padding: 7px 14px;
  border-radius: 3px;
}

.NAV nav ul li a {
  color: #ffffff;
}

.NAV nav label {
  color: #ffffff;
}

.NAV nav {
  border-bottom: 3px solid #ffffff;
}

.NAV a:hover {
  color: #ee2b2b;
}


a:hover {
  background: none;
  color: white;
  transition: .5s;
}

.checkBtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
  .checkBtn {
    display: block;
  }

  nav {
    background: rgba(133, 134, 138, 0.85);
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(137, 138, 140, 0.55);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    line-height: 60px;
  }

  nav ul li a {
    font-size: 24px;
  }

  a:hover {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .content {
    display: none;
  }

  .createAccountShort {
    display: block;
  }

}
