.Error404 body {
    background-size: cover;
    height: calc(108vh - 80px);
    background-color: rgb(10, 38, 59);
}

.Error404 .mainBox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.Error404 .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.Error404 .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.Error404 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.Error404 .msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    color: #4e679f;
}

.Error404 a {
    text-decoration: none;
    color: white;
}
